body{
     background-image: url("https://image.shutterstock.com/image-vector/colored-jungle-composition-big-green-260nw-2145113797.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div_2{
    height: 75%;
    width: 100%;
}
#play{
    background: transparent;
    border: 1px solid transparent;
    height:50px;
    width:50px;
    margin-bottom: 140px;
    
}