body{
    background-image: url("https://i.ytimg.com/vi/M-Gcy01CXfQ/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAmZWNv2-zNP-_KcnpSaBr4jYjZyQ");
    background-repeat: no-repeat;
    background-size: cover;
}

.div_2{
    height: 75%;
    width: 100%;
}
#play{
    background: transparent;
    border: 1px solid transparent;
    height:50px;
    width:50px;
    margin-bottom: 140px;
    
}